fastapi==0.116.1
uvicorn==0.35.0
python-multipart==0.0.20
python-dotenv==1.1.1
pydantic==2.11.7
sentence-transformers==5.1.0
torch==2.8.0
transformers==4.55.4
chromadb==1.0.20
ragas==0.3.9
langchain-groq==0.3.8
langchain-core==0.3.76
pandas==2.3.2
pypdf==6.0.0
httpx==0.28.1
pytest==8.4.2
psutil==7.0.0
